*{
    margin: 0;
    padding: 0;
}

// @font-face {
//     font-family: Franklin;
//     src: url('/HW11/font/LibreFranklin-Regular.ttf');
// }
header{
    // background-color: rgba(198, 108, 73, 0.34);
    background-image:url('../HW11/image/bg.png'), url('../HW11/image/backgr.jpg');
    // background-image: url(image/bg2.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 768px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin font_text($color,$size,$weight) {
    color: $color;
    font-size: $size;
    font-weight: $weight;
    // color: white;
}
.contaainer{
    width: 100%;
    // height: 275px;
    // display: flex;
    // justify-content: center;
    &__head{
        display: flex;
        justify-content: space-between;
        margin: 100px;
        margin-top: 0;
        // align-items: center;
        @include font_text(white,24px,700);
        &__port{
         margin-top: 20px;
     }
        &__main{
            display: flex;
            a{ 
                @include font_text(white,24px,400);
                text-decoration:none;
                margin: 20px;
            }
             a:hover{
        color: blue;
        }
        
    }
    }
    &__main{
        margin-top: 180px;
        margin-left:100px; 
        @include font_text(white,64px,400);
        &__text{
            font-size: 24px;
        }
        &__minitext{
            @include font_text(white,18px,400);
            line-height: 150px;
        }
    }
   
}
.white_block{
    margin: 100px;
    @include font_text(black,14px,400);
    &__about{
        margin-bottom: 50px;
        @include font_text(black,24px,700);
    }
    &__minitext{
    margin-bottom: 40px;
    }
}




.yellow_block{
    background-color:#FFFAF2;
    width: 100%;
    margin: 70px 100px 60px 0px;
    padding-top:40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    @include font_text(black,24px,700 );
            img{
            width: 300px;
            }
            &__together{
                display: flex;
                flex-direction: column;
            }
    &__tablle{
        display: flex;
        margin-top: 40px;
    }
    &__img_and_text{
        display: flex;
    }
    &__img{
        margin-left: 100px;
    }
    &__skillstext{
        margin-left: 100px;
    }
   &__skils{
    @include font_text(black,18px,600 );
    display: flex;
    flex-direction: column;
    // align-items: flex-end;
    margin-left: 170px;
    p{
        line-height: 35px;
    }
    .glob_profl{
        margin-bottom: 35px;
    }
   }
   &__status{
    @include font_text(black,18px,400 );
    margin-left: 170px;
    width: 500px;
    p{
        line-height: 42px;
    
    } 
    .progress {
        background-color: #F5D6AB;
        border-radius: 0px;
        height: 24px;

    }
    .progress-bar {
        background-color: #C66C49;
        border-radius: 0px;
    }
     .glob_profl{
    margin-bottom: 35px;
   }
}
}

.Portfolio_block{
 margin: 70px 100px 60px 100px;
 @include font_text(black,18px,400 );
    &__headtext{
    @include font_text(black,24px,700 );
    margin-bottom: 50px;
    }
    &__textt_and_img{
     display: flex;
     }
     &__maintext{
     width: 370px;
        .text_research{
         margin-bottom: 50px;
         @include font_text(black,18px,600 );
     }
    }
    &__img_port{
        width: 635px;
        display: flex;
        margin-top: 65px; 
        margin-left: 230px; 
        &__group1{
            width: 350px;
            margin-right: 30px;
         img{
             margin: 20px;
         }
        }
        &__group2{
           margin-top: 20px;
           img{
               margin-bottom: 40px;
           }
        }
    }
    &__arrow{
        svg{
            width: 70px;
            height: 25px;
        }
    }
}
footer{
    @include font_text(black,18px,400 );
    width: 100%;
    background-color: #FFFAF2;
  padding-bottom: 100px;
}
.footer_header_text{
    padding-top: 50px;
    @include font_text(black,24px,600 );
    p{
       margin-left: 195px; 
    }
}
.footer_col_gr1{
    display: flex;

}
.footer_column{
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    &__one{
        margin-right: 400px;
    }
}
.footer_arrow{
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    margin-top: 30px;
    svg{
        width: 70px;
        height: 25px;
    }
}




@media screen and (max-width:780px) {
    .contaainer{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__head{
            margin: 0;
            margin-top: 30px;
        }
        &__main{
            margin-top: 30px;
            margin: 0;
            // display: flex;
            // justify-content: center;
            @include font_text(white,38px,400 );
        &__minitext{
            margin: 0;
                    }
        }
    }
    .main-container{
        width: 780px;
    }
    .yellow_block{
        display: flex;
        flex-direction: column;
    &__skillstext{
        text-align: center;
        }
    &__img{
        display: flex;
        justify-content: center;
    }
    &__skils{
        margin-left: 100px;
    }
    &__status{
        margin-left: 50px;
    }
}
.Portfolio_block{
    margin: 70px 100px 60px 100px;
    @include font_text(black,18px,400 );
       &__headtext{
       @include font_text(black,24px,700 );
       margin-bottom: 50px;
       }
       &__textt_and_img{
        display: flex;
        }
        &__maintext{
        width: 780px;
           .text_research{
            margin-bottom: 50px;
            @include font_text(black,18px,600 );
        }
       }
       &__img_port{
           width: 635px;
           display: flex;
           margin-top: 65px; 
           margin-left: 230px; 
           &__group1{
               width: 770px;
               margin-right: 30px;
            img{
                margin: 20px;
            }
           }
           &__group2{
              margin-top: 20px;
              img{
                  margin-bottom: 40px;
              }
           }
       }
       &__arrow{
           svg{
               width: 70px;
               height: 25px;
           }
       }
   }
}



@media screen and (max-width:380px) {
header{
    background-image:url('../HW11/image/bg_mini2.png'), url('../HW11/image/bg_mini.png'); ;
    width: 100%;
    height: 275px;

    }
.contaainer{
    width: 100%;
    height: 275px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__head{
        margin: 0;
        margin-top: 30px;
    }
    &__main{
        margin: 0;
        // display: flex;
        // justify-content: center;
        @include font_text(white,13px,400 );
    &__minitext{
        margin: 0;
                }
    }
}
.contaainer__head__main{
    display: none;
}
.main-container{
    width: 360px;
}
.white_block{
    margin: 20px;
    width: 340px;
    &__about{
        display: flex;
        justify-content: center;
         }
    }

// Skills

.yellow_block{
    display: flex;
    flex-direction: column;
    &__img{
        margin-left: 40px;
    }
    &__skillstext{
        margin-left: 40px;
    }
    &__img_and_text{
        display: block;
    }
    &__skils{
        margin-left: 40px;
    }
    &__tablle{
        margin-top: 40px;
        p{
             @include font_text(black,12px,400 );
        }
       
    }
    &__status{
        margin-left: 10px;
        margin-right: 20px;
        width: 220px;
    }

}

.Portfolio_block{
    display: block;
    justify-content:center ;
  margin:0px  0px 0px 50px;
  @include font_text(black,14px,400 );
&__textt_and_img{
    display: block;
}

&__img_port{
    width: 0px;
    margin-left: -20px;
  &__group1{
    margin-right: 10px;
      img{  
          margin: 5px;
          width: 170px;
      }
  }
  &__group2{
      display: block;
      img{
          margin: 5px;
    width: 125px;
      }
  }
}

&__maintext{
    width: 250px;
    display: block;
    justify-content: center;
    align-items: center;
}

}
.footer_column{
    display: block;
}
.footer_header_text{
    @include font_text(black,20px,400 );
    p{
    margin-left: 100px;
    }
    
}
.footer_column__one{
   margin-left:  50px;
   margin-right: 100px;
}
.footer_col_gr2{
    margin-top: 20px;
    margin-left: 50px;
}
.footer_arrow{
    margin-right: 20px;
}
.footer_column__three{
   display: block;
}
.Portfolio_block__arrow{
    display: none;
}
}



    
