body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
form{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    width: 120px;
    height: 20px;
    border-radius: 7px;
    margin: 0 20px 0 10px;
    border: 2px solid darkgrey;

}
.btn{
    /* width: 100px; */
    color: black;
    border: 0px;
    height: 26px;
    background-color: rgb(42, 134, 42);
}
.form2{
    float: left;
}
.text_inpit_3{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    float: right;
}