body{

    background-color: rgb(201, 197, 197);
    margin: 200px 0 0 500px;

   
}

// .button_div{
//     // display: flex;
//     // justify-content: center;
//     button{
//         width: auto;
//     }
// }
.input_change{
    width: 400px;
    // height: 30px;
}
.form_sign{
    display: flex;
    flex-direction: column;
}