body{
    margin: 100px 0 0 400px;
}
p{
    margin: 0;
}
@mixin button($width,$height,$color){
    color: white;
    background-color: $color;
    width: $width;
    height: $height;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.word{
    width: 400px;
    height: 30px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 2px solid rgb(162, 160, 160);
}
.word:focus{
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 100, 214, 0.453) 0px 0px 0px 3px;
}

.area{
    height: 100px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.area:focus{
    box-shadow: rgba(0, 100, 214, 0.453) 0px 0px 0px 3px;
    border: none;
    outline: none;
}
.formWords{
    display: flex;
    flex-direction: column;
    justify-content: center;
    outline: 2px solid gray;
    width: 600px;
    padding: 10px;
}
.add{
    @include button(90px,30px,rgb(242, 178, 61));
}
.reset{
    @include button(90px,30px,rgb(231, 69, 69));
}
.cenzor{
    @include button(600px,30px,rgb(87, 166, 87));
}


